<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0">
      </compilation>
      
      <authentication mode="Windows"/>
      
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
  
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="DesignerBinding" maxReceivedMessageSize="2000000" maxBufferSize="2000000">
              <readerQuotas maxArrayLength="2000000" maxStringContentLength="2000000"/>
            </binding>
          </basicHttpBinding>
        </bindings>

        <behaviors>
          <serviceBehaviors>
            <behavior name="WCF_SLDesigner.Web.DesignerServiceBehavior">
              <serviceMetadata httpGetEnabled="true" />
              <serviceDebug includeExceptionDetailInFaults="false" />
            </behavior>
          </serviceBehaviors>
        </behaviors>

        <services>
          <service behaviorConfiguration="WCF_SLDesigner.Web.DesignerServiceBehavior" name="WCF_SLDesigner.Web.DesignerService">
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DesignerBinding" contract="WCF_SLDesigner.Web.IDesignerService">
              <identity>
                <dns value="localhost"/>
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
          </service>
        </services>
    </system.serviceModel>
</configuration>